<h1 class="heading-medium">
    Adding data
</h1>

<p>
    <%= if @dataset do %>
        Adding to dataset: '<%= @dataset.title %>'
    <% end %>
</p>

<p>
    You must give your data a title and summary. This will make it easier
    for users to find it on data.gov.uk.
</p>


<%= render "form.html", changeset: @changeset, publisher: @publisher, dataset: @dataset,
                        action: upload_path(@conn, :create) %>
