$dgu-green: #8bc658;

#global-header {
  background: $dgu-green;
  #logo {
    background: none;
  }
}

#global-header .header-wrapper {
  background: $dgu-green;
}

.login-bar {
  margin-bottom: 70px;
  nav {
    float: left;
    ul {
      list-style-type: none;
      li {
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.login-info {
  text-align: right;
  li {
    display: inline;
    margin-left: 1em;
  }
}

#footer {
  margin-top: 1em;
  .footer-links {
    ul li {
      display: inline;
      padding-left: 1em;
    }
  }
  .copyright-and-licence {
    float: right;
  }
}

.bold {
  font-weight: 600;
}

.user-tasks {
  list-style-type: decimal;
}
.user-tasks li {
  margin-bottom: 10px;
}

.datafile {
  background-color: #eee;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

#search-box {
  position: relative;
}

.autocomplete-menu {
  position: absolute;
  top: 1.8em;
  max-width: 50%;
  border: 2px solid #999;
  background: white;

  .autocomplete-inner {
    overflow: hidden;
    border-style: solid;
    border-color: white;
    border-width: 0 5px 0 5px;
    ul {
      width: 1000em;

      li {
        &.selected {
          background-color: $dgu-green;
        }
        a, a:link, a:visited {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

.search-blurb {
  margin-top: 2em;
}

.pagination {
  margin-top: 2em;
}

.dataset-list {
  li + li {
    margin-top: 1.5em;
    border-top: 1px solid #bbb;
    padding-top: 1.5em;
  }
}