$dgu-green: #8bc658;

#global-header {
  background: $dgu-green;
  #logo {
    background: none;
  }
}

#global-header .header-wrapper {
  background: $dgu-green;
}

.login-bar {
  margin-bottom: 70px;
  nav {
    float: left;
    ul {
      list-style-type: none;
      li {
        display: inline;
        padding-right: 1em;
      }
    }
  }
}

.login-info {
  text-align: right;
  li {
    display: inline;
    margin-left: 1em;
  }
}

#footer {
  margin-top: 1em;
  .footer-links {
    ul li {
      display: inline;
      padding-left: 1em;
    }
  }
  .copyright-and-licence {
    float: right;
  }
}

.user-tasks {
  list-style-type: decimal;
}
.user-tasks li {
  margin-bottom: 10px;
}
