<h2><%= gettext "Listing themes" %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= gettext "Theme" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for theme <- @themes do %>
    <tr>
    <td>
        <%= link theme.title, to: theme_path(@conn, :show, theme.name), class: "btn btn-default btn-xs" %>
    </td>
    </tr>
<% end %>
  </tbody>
</table>
